.section--news{
  background-color: #4D4D4D;
  padding: 136px 0 100px;
}

.news__article{
  color: #fff;
}

.news__tittle{
  color: #fff;
  font: normal 600 20px/30px Poppins;
  letter-spacing: 0px;
}

.news__text{
  color: #949596;
  font: normal 14px/22px Poppins;
  letter-spacing: 0px;
  margin-top: 15px;
}