.section--segmentation{
  background-color: #f5f5f5;
  padding: 50px 0;
}

.segmentation{
  display: flex;
  flex-direction: row;
}

.segmentation__item{
  width: 410px;
  margin: 0 10px;
}

.segmentation__tittle{
  color: #2B3034;
  font: normal 600 20px/30px Poppins;
  letter-spacing: 0px;
}

.segmentation__text{
  color: #949596;
  font: normal 13px/22px Poppins;
  letter-spacing: 0px;
}

.segmentation__img{
  width: 410px;
}

@media screen and (max-width: 1300px) {
  
  .segmentation {
    flex-wrap: wrap;
  }

  .segmentation__item{
    margin: 0;
    width: 85vw;
  }

  .segmentation__tittle{
    margin-top: 15px;
  }

  .segmentation__img {
    width: 85vw;
  }
}

@media screen and (max-width: 992px) {
  .segmentation__img {
    width: 85vw;
  }

  .segmentation__item {
    width: 85vw;
    margin: 0;
  }
  
  .segmentation {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  
  .segmentation {
    flex-wrap: wrap;
  }

  .segmentation__item{
    margin: 0;
    width: 85vw;
  }

  .segmentation__tittle{
    margin-top: 15px;
  }

  .segmentation__img {
    width: 85vw;
  }
}